@model NewBook

@{
    string title = "Create Book";
}

<button onclick="getTodos()">GET TODOS</button>
<ul id="todoList">

</ul>
<script>
    function sendData() {
        var payload = {
            book: {
                description: "Data from JS with AJAX"
            }
        };

        $.ajax({
            type: "POST",
            url: '/Admin/UpsertBook',
            data: JSON.stringify(payload),
            contentType: "application/json",
            success: function (data) {
                alert('exito');
            },
            error: function (data) {
                alert('error');
            }
        });
    }

    function getTodos() {
        $.ajax({
            type: "GET",
            url: 'https://jsonplaceholder.typicode.com/todos/',
            contentType: "application/json",
            success: function (data) {
                console.log(data);
                for (var i = 0; i < data.length; i++) {
                    $('#todoList').append("<li>" + data[i].title + "</li>");
                }
                
                console.log('finaliza iteración');

            },
            error: function (data) {
                alert('error');
            }
        });
        
    }
</script>

